<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Day of xx/xx/xx 
This note-taking page was designed to help with studying. Fill this column with class notes, the left column with review questions, and the bottom area with a summary.

To study, choose View -&gt; Notes Column to hide this column as you ask yourself the review questions in the left column.  </string>
</dict>
</plist>
