<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>keywords</key>
	<string></string>
	<key>txt</key>
	<string>Schedule ToolBox Kit April, 2014 R Programming May, 2014 Getting &amp; Cleaning Data June , 2014 Exploratory Data Analysis July, 2014 Reproducible Research August, 2014 Statistical Inference September, 2014 Regression Models October, 2014 Practical Machine Learning November, 2014 Developing Data Products December, 2014 Capstone Project 2015 </string>
</dict>
</plist>
